div.content {
    line-height: 40px;
}
div.content img {
    height: auto !important;
    width: 100%;
    margin: 10px 0 15px 0;
    border-radius: 5px !important;
}
div.content h2{
    background-color: #9ec789;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 10px 0 10px 0;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
h4 {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
h5 {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
h6 {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
p:empty {
    height: 40px !important;
}
