
#footer{
    background-image: url(https://tree-lc360-ir.s3.ir-thr-at1.arvanstorage.ir/assets%2Ffooter%2Ffooterbackground.svg?versionId=);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: contain;
}
